<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visa.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @visa.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @visa.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @visa.desc %>
</p>

<%= link_to 'Edit', edit_visa_path(@visa) %> |
<%= link_to 'Back', visas_path %>
