<div id="form" data-remote="true" class="form-group">


<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'steps_tabs' %>
  <%= render "#{@order.current_step}_step", :f => f %>
  <%= render 'visa_price' %>
  <div class="form-group">
  <% if @order.current_step != "first"  %>
  <%= button_tag(type: 'submit', class: "btn btn-warning", name:  "back_button" ) do %>
     <i class="fa fa-step-backward"></i> Back

  <% end %>
  <% else %>
  <% end %>
  
  <%= button_tag(type: 'submit', class: "btn btn-warning") do %>Next
 <i class="fa fa-step-forward"></i>
  <% end %>
  
  
  

  </div>
  
  
  
<% end %>
</div>

