<div id="form" data-remote="true" class="form-group">

<div id="field">
  <h2 id="sum">SUM:   </h2>
</div>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
       
  <%= render "#{@order.current_step}_step", :f => f %>
  <%= render 'visa_price' %>
  <div class="btn btn-primary">
  <p><%= f.submit "Continue" %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @order.first_step? %></p>
  
  </div>
  
  
  
<% end %>
</div>

