<div class="row">
  
          <div class="field">
          <%= f.label :name, "Full Name" %><br/>
          <%= f.text_field :name %>
          </div>
          <div class="field">
          <%= f.label :number, "Passport Number" %><br/>
          <%= f.text_field :number%>
          </div>            
          <div class="field">
          <%= f.label :issue_date, "Passport issue date" %><br/>
          <%= f.date_select :issue_date%>
          </div>
          
          <div class="field">
          <%= f.label :finish_date, "Passport finish date" %><br/>
          <%= f.date_select :finish_date%>
          </div>         
          
          <div class="field">
          <%= f.hidden_field(:_destroy) %>
          <%= link_to "Remove", "#", class: "remove"%>
          </div>    
          
          <div>
              <%= f.label :gender, "Gender:" %><br/>
              <span class="input-group-addon">
              <input type="radio" id="GenderChoice1"name="order[gender]" value="male" class="form-control">
              <i class="fa fa-male"></i>
              Male</input>
              <input type="radio" id="GenderChoice2"name="order[gender]" value="female" class="form-control">
              <i class="fa fa-female"></i>Female</input>
              </span>
          </div>
          <div class="field">
          <%= f.label :birhday, "Date of birth" %><br/>
          <%= f.date_select :birhday %>
          </div>
          <div class="field">
          <%= f.label :nationality, "Nationality" %><br/>
          <%= f.text_field :nationality %><br/>
          </div>
</div>
