<p id="notice"><%= notice %></p>

<p>
  <strong>Order Number:</strong>
  <%= @order.id %>
</p>
<p>
<%= link_to image_tag(@order.image.thumb('100x100').url), @order.image.url  %>
</p>
<p>
  <strong>Order Created:</strong>
  <%= @order.created_at %>
</p>
<p>
  <strong>Your approval letter readiness date:</strong>
  <%= @readiness_date %>
</p>
<p>
  <strong>TOTAL:</strong>
  <%= @summa %>
</p>

<p>
  <strong>QTY of visitors:</strong>
  <%= @order.qty %>
</p>


<p>
  <strong>Visa:</strong>
  <%= @order.visa %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  
  <% if @order.fast_track == true %>
  <strong>Fast track:</strong>
  <%= @order.fast_track %>
  <% end %>
</p>

<p>
  <% if @order.private_letter == true %>
  <strong>Private letter:</strong>
  <%= @order.private_letter %>
  <% end %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @order.speed %>
</p>

<p>
  <strong>Border point:</strong>
  <%= @order.border_point %>
</p>

<ol>
  <% for passport in @order.passports %>
   <li><%=h passport.name%></li>
   <li><%=h passport.number%></li>
   <li><%=h passport.nationality%></li>
   <li><%=h passport.gender%></li>
   <li><%=h passport.finish_date%></li>
   <li><%=h passport.birhday%></li>
  <% end %>
</ol>

<p>
  <strong>Entry date:</strong>
  <%= @order.entry_date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @order.nationality %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
